body {
  overflow: hidden;
  margin: 0px !important;
  padding: 10px 10px 10px 10px;
  width: 366px;
  border: 3px outset rgb(0 0 0 / 21%);
  background-color: #4f586a;
  color: white;
  font-size: 13px;
  font-family: sans-serif;
  line-height: 175%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.padding-top {
  display: block;
  padding-top: 10px;
}

a {
  width: 100%;
  height: 100%;
}

.btnExt {
  border: none;
  padding: 10px;
  background-color: #393f4d;
  box-shadow:
    2px 2px 4px #2c3139,
    -2px -2px 4px #4f586a;
  color: white;
}

.btnExt:active,
.btnExt:focus {
  outline: none;
  border: none;
}

.btnExt:hover {
  box-shadow:
    inset 2px 2px 4px #2c3139,
    inset -2px -2px 4px #4f586a;
}

.btnExt::-moz-focus-inner {
  border: 0;
}

.btnSettings {
  width: 100px;
  height: 40px;
  display: block;
  margin: 20px auto;
  padding: 2px;
}

.submit-button {
  margin-top: 4px;
  margin-bottom: 7px;
}

.social-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  /* max-width: 181px; */
}

.swg-icon-block {
  margin-right: 15px;
  margin-top: -10px;
  padding: 4px 4px;
  border-radius: 8%;
  background: #303641;
  box-shadow:
    2px 2px 4px #2c3139,
    -2px -2px 4px #4f586a;
}

.swg-icon-block:hover {
  transition: 0.4s ease-in;
  transform: scale(1.13);
  box-shadow:
    inset 2px 2px 4px #2c3139,
    inset -2px -2px 4px #272b34;
}

.swg-steam,
.swg-chat24,
.swg-youtube {
  display: inline-flex;
  align-content: center;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 30px auto;
  -webkit-filter: grayscale(100%) sepia(100%) hue-rotate(360deg) saturate(0%) contrast(1000%) invert(100%);
  filter: grayscale(100%) sepia(100%) hue-rotate(360deg) saturate(0%) contrast(1000%) invert(100%);
  -moz-filter: grayscale(100%) sepia(100%) hue-rotate(360deg) saturate(0%) contrast(1000%) invert(100%);
}

.swg-steam:hover,
.swg-steam:focus,
.swg-chat24:hover,
.swg-chat24:focus,
.swg-youtube:hover,
.swg-youtube:focus {
  filter: brightness(0) saturate(100%) invert(77%) sepia(6%) saturate(3714%) hue-rotate(166deg) brightness(85%)
    contrast(87%);
}

.swg-steam {
  display: flex;
  background-image: url("../images/svg/steam-symbol.svg");
}

.swg-chat24 {
  display: flex;
  background-image: url("../images/svg/chat24.svg");
}

.swg-youtube {
  display: flex;
  background-image: url("../images/svg/youtube.svg");
}
