@use "./../animation/checkbox-change-color-text" as *;

.chart {
  text-align: right;
  transition: 0.3s;
  width: calc(100% - 10px);
  padding: 14px;
  color: black;
  height: 200px;
  box-shadow: var(--shadow-inner-deep);
  background-color: var(--c-grey-500);
  &-stats {
    height: auto;
    padding: 0px 0px 39px 5px;
  }
  &-item-page {
    width: 790px;
    margin: 0px 11px 10px auto;
  }

  &-search {
    width: 790px;
    display: grid;
    margin: 0px auto;
    margin-bottom: 12px;
  }

  &-navigation {
    display: inline-block;
    margin-top: 20px;
  }

  &-button {
    background-color: #626262;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    border: none;
    height: 28px;
  }
  &-mini {
    width: 90px;
    margin: 0 auto;
    padding: 0.2%;
    box-shadow: var(--shadow-inner-deep);
    background-color: var(--c-grey-500);
  }
}
