@use "sass:color";
@use "./../../elementsStyling/views-elements/tabs-ui" as *;
@use "./../../elementsStyling/views-elements/settings-ui" as *;
@use "./../../elementsStyling/views-elements/radio-ui" as *;
@use "./../../elementsStyling/swg-icons" as *;
@use "./../../elementsStyling/views-elements/page-ui" as *;
@use "./../../elementsStyling/views-elements/input-values" as *;
@use "./../../elementsStyling/views-elements/switched-button" as *;
@use "./../../elementsStyling/tegify" as *;

:root {
  --c-white: #ffffff;
  --c-cyan-400: #30b4e4;
  --c-blue-dark: #0c7fa8;
  --c-blue-deep: #0c5a76;

  --c-slate-400: #414856;
  --c-slate-800: #303641;
  --c-slate-500: #353c48;

  --c-slate-900: #2c3139;
  --c-slate-300: #4f586a;

  --c-white: white;

  --c-grey-100: #cecece;
  --c-grey-500: #858585;
  --c-grey-900: #585858;

  --c-black-alpha: #00000094;
  --c-grey-alpha: #ffffff38;

  --r-t-box-shadow: 5px 5px 10px #242931, -4px -4px 8px #3c4351, inset 1px 1px 1px rgba(255, 255, 255, 0.1);
  --m-b-shadow-inset: inset 0 0 10px var(--c-black-alpha), inset 0 1px 1px #0a0b0de0, 0px 1px var(--c-grey-alpha);

  --r-t-col-width-min: 10%;
  --r-t-col-width-max: 40%;
}

$config: (
  "bg": #efefef,
  "bg-active": #2d86a7,
  "text": #292929,
  "text-active": #efefef,
  "radius": 0.25em
);

@include radio-ui($config);
::-webkit-scrollbar {
  width: 6px;
  background-color: var(--c-slate-800);

  &-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff2a;
  }

  &-thumb {
    background-color: var(--c-slate-500);
  }
}

body,
html {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: var(--c-grey-100);
  background: var(--c-slate-400);
}

a {
  color: #fff;
  text-decoration: none;
}

@include page-ui($nav-bar-width: 250px, $c-heder: var(--c-slate-800), $c-bar-dark: #2c3139, $c-bar: #2c3139, $c-bar-light: #4f586a, $c-color: var(--c-white), $c-hover: var(--c-cyan-400), $n-box-shadow: var(--r-t-box-shadow));

.content ul,
.content li {
  overflow: visible;
}

@include input-values(var(--c-blue-dark), var(--c-slate-500));
@include switched-button($c-text: var(--c-slate-500), $c-switched-btn: var(--c-slate-400), $c-switched-bg: var(--c-blue-dark));

#control-panel {
  display: none;
}

#filter-pages:checked {
  & ~ #filter-list {
    display: none;
  }

  & ~ #control-panel {
    display: block;
  }
}

.clanList {
  width: calc(100% - 110px);
  @include tegify-ui();
}

.user-tags {
  width: calc(100% - 81px);
  height: auto;
}

$c-yellow-gray: #0c5a76ba;

.content {
  margin: 7px;
  margin-top: 37px;

  &-nav-is-open {
    width: calc(77% - 30px);
    box-shadow: var(--r-t-box-shadow);
    height: auto;
  }
}

@media (max-width: 60em) {
  .content,
  .content-nav-is-open {
    width: 100%;
  }
}

.extension {
  @include tabs-ui();
}

.settings {
  @include settings-ui();
}

a.statistics {
  .statistics-nav-icon_min {
    filter: invert(34%) sepia(38%) saturate(321%) hue-rotate(17deg) brightness(94%) contrast(88%);
    background-size: 76px 95px;
    padding: 39px 38px;
  }

  background-color: $c-yellow-gray;

  &:focus,
  &:hover {
    color: #fff;
    background-color: $c-yellow-gray;
  }

  .statistics-name {
    font-size: 19px;
    font-weight: 700;
  }

  .statistics-value {
    position: absolute;
    right: 27px;
    font-size: 30px;
    padding: 12px;
    background: color.adjust($c-yellow-gray, $lightness: -10%);
    -webkit-box-shadow: var(--m-b-shadow-inset);
    box-shadow: var(--m-b-shadow-inset);
    -webkit-border-radius: 9px;
    border-radius: 9px;
  }
}

.avatar {
  &-actor {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;

    &-persona_actor {
      padding: 2px;
      float: right;
      position: relative;
      width: 100%;
      overflow: hidden;
    }
  }

  &-group {
    width: 64;
    height: 64;
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--m-b-shadow-inset);
  }
}

.group-link {
  left: 0px;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--m-b-shadow-inset);
  background: var(--c-grey-500);
  font-weight: 900;
  color: var(--c-slate-500);
}

.dangerous-group {
  padding: 12px 0px;

  &-log {
    position: absolute;
    right: 64px;
    top: 4px;
    font-weight: 900;
    z-index: 5;
    font-size: 14px;
  }

  &-input {
    margin: 0px;
    padding: 10px 10px 10px 10px;
    width: 40%;
    min-width: 200px;
    text-align: right;
    padding-right: 48px;
    font-weight: 700;
    border: solid 2px var(--c-slate-900);
  }

  &-btn {
    right: -9px;
    top: -9px;
  }
}

.my-switch {
  padding-right: 54px;
}
