@use "./../../elementsStyling/shapes" as *;
@use "./../../elementsStyling/views-elements/show-hidden-button.scss" as *;
@use "./../../elementsStyling/tegify" as *;
@use "./../../animation/user-tags-ui" as *;
@use "./../../charts/charts" as *;
@use "./../../elementsStyling/views-elements/responsive-table" as *;
@use "./../../elementsStyling/views-elements/page-ui" as *;
@use "./../../animation/progress-line.scss" as *;
@use "./../../elementsStyling/views-elements/description-settings.scss" as *;
@use "./../../elementsStyling/views-elements/radio-ui" as *;
@use "./../../elementsStyling/swg-icons" as *;
@use "./../../elementsStyling/views-elements/input-values" as *;
@use "./../../elementsStyling/views-elements/switched-button" as *;
@use "./../../elementsStyling/tegify" as *;

::placeholder {
  color: #3f3f3f;
  /* Red color using HEX value, any valid color value works */
  opacity: 1;
  /* Fixes a default lower opacity issue in Firefox */
}

:root {
  /* --- 1. ПАЛИТРА (Базовые цвета) --- clr(color)*/

  /* Slate/Blue (Ваши темные и текстовые оттенки) */
  --c-slate-900: #2c3139; /* shadow-dark */
  --c-slate-800: #303641; /* green */

  --c-slate-500: #353c48; /* green-dark */
  --c-slate-400: #414856; /* green-light */
  --c-slate-300: #4f586a; /* shadow-light */

  /* Cyan/Blue (Ваши акцентные цвета) */
  --c-cyan-400: #30b4e4;

  --c-blue-dark: #0c7fa8; /* был yellow */
  --c-blue-deep: #0c5a76; /* был yellow-dark */

  /* Grayscale */
  --c-white: #ffffff;
  --c-grey-100: #cecece;
  --c-grey-500: #858585;
  --c-grey-900: #585858;
  --c-grey-alpha: #ffffff38;
  --c-black-alpha: #00000094;

  /* --- 2. ФУНКЦИОНАЛЬНЫЕ ПЕРЕМЕННЫЕ (Для дашборда) --- */

  // /* Статусные цвета (семантика) */
  // --status-info: #3595f6; /* Синий — информация */
  // --status-success: #28a745; /* Зеленый — успех */
  // --status-warning: #ffc107; /* Желтый — внимание */
  // --status-error: #dc3545; /* Красный — ошибка */

  /* цвета блока INFO ? */
  --info-bg: transparent; /*цвет иконки*/
  --info-bg-icon: transparent; /* полупрозрачный фон для иконки */
  --info-border: transparent;
  --info-shadow: transparent;

  --info-popup-bg: var(--color-slate-800);
  --info-popup-text: var(--color-white);
  --info-popup-border: var(--color-slate-600);
  --info-popup-shadow: var(--color-slate-600);
  /*----------*/

  /*  блока панели управления pnl (panel) */
  --pnl-bg: transparent; /*цвет иконки*/
  --pnl-bg-icon: transparent; /* полупрозрачный фон для иконки */
  --pnl-border: transparent;
  --pnl-shadow: transparent;

  --pnl-row-bg: var(--color-slate-800);
  --pnl-row-text: var(--color-white);
  --pnl-row-input: var(--color-white);
  --pnl-row-border: var(--color-slate-600);
  --pnl-row-shadow: var(--color-slate-600);
  /*----------*/

  /*  блока панели управления pnl (panel) */
  --pnl-bg: transparent; /*цвет иконки*/
  --pnl-bg-icon: transparent; /* полупрозрачный фон для иконки */
  --pnl-border: transparent;
  --pnl-shadow: transparent;

  --pnl-row-bg: var(--color-slate-800);
  --pnl-row-text: var(--color-white);
  --pnl-row-input: var(--color-white);
  --pnl-row-border: var(--color-slate-600);
  --pnl-row-shadow: var(--color-slate-600);
  /*----------*/

  /*  блока responsive table (rt)*/
  --rt-bg: transparent; /*цвет иконки*/
  --rt-bg-icon: transparent; /* полупрозрачный фон для иконки */
  --rt-border: transparent;
  --rt-shadow: transparent;

  --rt-row-bg: var(--color-slate-800);
  --rt-row-text: var(--color-white);
  --rt-row-input: var(--color-white);
  --rt-row-border: var(--color-slate-600);
  --rt-row-shadow-1: var(--color-slate-600);
  --rt-row-shadow-2: var(--color-slate-600);
  --rt-row-shadow-3: var(--color-slate-600);
  /*----------*/

  /* Sidebar */
  --sb-bg: var(--clr-slate-800);
  --sb-bg-hover: var(--clr-slate-700);
  --sb-text: var(--clr-blue-light);
  --sb-input: var(--clr-blue-light);
  --sb-accent: var(--clr-cyan-500); //визуальный элемент, который выделяет активные пункты меню
  --sb-shadow: var(--color-slate-600);
  --sb-width-collapsed: 80px;
  --sb-width-expanded: 260px;

  /* Dashboard Content */
  --db-bg: var(--clr-slate-900);
  --db-card-bg: var(--clr-slate-700);
  --db-text-main: var(--clr-white);
  --db-text-muted: var(--clr-blue-soft);

  /* button */
  --btn-bg: var(--clr-slate-800);
  --btn-bg-hover: var(--clr-slate-700);
  --btn-text: var(--clr-blue-light);
  --btn-shadow: var(--color-slate-600);
  --btn-shadow-hover: var(--color-slate-600);
  --btn-icon: 70px;
  --btn-width-min: 80px;
  --btn-width-max: 260px;

  /* User Tag (то, что вы просили) */
  --tag-user-bg: var(--clr-cyan-600);
  --tag-user-text: var(--clr-white);
  --tag-user-radius: 4px;
  --tag-user-pad: 0.2em 0.6em;

  /* Shadows */
  --shadow-main: 0 4px 12px var(--clr-black-alpha);
}

:root {
  --r-t-box-shadow: 5px 5px 10px #242931, -4px -4px 8px #3c4351, inset 1px 1px 1px rgba(255, 255, 255, 0.1);
  --m-b-shadow-inset: inset 0 0 10px var(--c-black-alpha), inset 0 1px 1px #0a0b0de0, 0px 1px var(--c-grey-alpha);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--c-slate-800);

  &-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff2a;
  }

  &-thumb {
    background-color: var(--c-slate-500);
  }
}

body {
  --r-t-col-width-min: 9%;
  --r-t-col-width-max: 24%;
}

body,
html {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: var(--c-grey-100);
  background: var(--c-slate-400);
}

a {
  color: #fff;
  text-decoration: none;
}

$config: (
  "bg": #efefef,
  "bg-active": #2d86a7,
  "text": #292929,
  "text-active": #efefef,
  "radius": 0.25em
);

@include radio-ui($config);
@include page-ui($nav-bar-width: 250px, $c-heder: var(--c-slate-800), $c-bar-dark: #2c3139, $c-bar: #2c3139, $c-bar-light: #4f586a, $c-color: var(--c-white), $c-hover: var(--c-cyan-400), $n-box-shadow: var(--r-t-box-shadow));

// @include page-ui($nav-bar-width: 250px, $c-heder: var(--c-slate-800), $c-bar-dark: #2c3139, $c-bar: #2c3139, $c-bar-light: #4f586a, $c-color: var(--c-white), $c-hover: var(--c-cyan-400), $n-box-shadow: var(--r-t-box-shadow));

.content ul,
.content li {
  overflow: visible;
}

@include input-values(var(--c-blue-dark), var(--c-slate-500));

@include switched-button($c-text: var(--c-slate-500), $c-switched-btn: var(--c-slate-400), $c-switched-bg: var(--c-blue-dark));

#control-panel {
  display: none;
}

#filter-pages:checked {
  & ~ #filter-list {
    display: none;
  }

  & ~ #control-panel {
    display: block;
  }
}

.clanList {
  width: calc(100% - 110px);
  @include tegify-ui();
}

.user-tags {
  width: calc(100% - 81px);
  height: auto;
  margin: 9px;
}

.point-container {
  position: relative;
  margin: 2px;
  border-radius: 10px;
  overflow: auto;
}

.ext {
  @include description-settings();
  @include responsive-table((radial-gradient(circle at 30% 30%, rgb(156 45 91 / 11%) 0%, rgb(48 180 228 / 2%) 50%), linear-gradient(244deg, #373e4b 0%, #303641 50%, rgb(49 65 80) 100%)), var(--c-cyan-400), var(--r-t-box-shadow), var(--r-t-col-width-min), var(--r-t-col-width-max));
}

.extension {
  @include responsive-table((radial-gradient(circle at 30% 30%, rgb(156 45 91 / 11%) 0%, rgb(48 180 228 / 2%) 50%), linear-gradient(244deg, #373e4b 0%, #303641 50%, rgb(49 65 80) 100%)), var(--c-cyan-400), var(--r-t-box-shadow), var(--r-t-col-width-min), var(--r-t-col-width-max));

  &-responsive-table {
    z-index: 1;
    padding: 5px;

    &_settings {
      margin: 11px 0px;
    }

    &__col {
      font-size: 13px;
      font-weight: 600;

      &.market_name {
        margin: 0 0.3%;
        padding: 4px;
        font-size: 14px;
        color: #3f3f3f;
        word-break: break-all;
        cursor: pointer;
      }

      &-tags {
        margin: 0px;
      }
    }

    &__badge {
      height: 35px;
      justify-content: flex-end;
    }

    &__col.market_name {
      position: relative;
      padding: 12px 0px;
      font-size: 13px;
      box-shadow: var(--m-b-shadow-inset);
      -webkit-box-shadow: var(--m-b-shadow-inset);
      background-color: var(--c-grey-500);
    }

    &-li {
      margin-bottom: 0;
    }

    &__header_extension-menu {
      top: 36px;
      right: 4%;
    }
  }

  &-settings {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    box-shadow: var(--r-t-box-shadow);
    @include button-shadow-inset(var(--m-b-shadow-inset), var(--c-slate-500));
  }

  &-search {
    width: calc(100% - 23px);
    margin: 15px 10px 20px;
    padding: 15px 10px 10px 40px;
    color: var(--c-white);
    background: var(--c-grey-500);
    border: none;
    border-radius: 3px;
    transition: all 1s;
    outline: none;
    -webkit-box-shadow: var(--m-b-shadow-inset);
    box-shadow: var(--m-b-shadow-inset);

    &:focus {
      background: var(--c-grey-900);
      transition: all 1s;
    }

    &::placeholder {
      color: var(--c-grey-100);
      opacity: 1;
    }

    &-btn {
      position: absolute;
      width: 34px;
      height: 36px;
      margin: 17px 12px 7px;
      padding: 0px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      background-color: var(--c-slate-800);
      box-shadow:
        1px 1px 3px 1px rgba(0, 0, 0, 0.58),
        0px 0px 0px 1px rgba(255, 255, 255, 0.09);

      &:hover {
        background: var(--c-slate-500);
        transition: all 1s;
        box-shadow:
          inset 1px 1px 1px 1px #000000ba,
          inset -5px -5px 17px #f9f9f908;
      }

      &-icon {
        position: relative;
        left: 5px;
        display: block;
        width: 23px;
        height: 23px;
      }
    }
  }

  &-pagination,
  &-selected-item-prices-pagination,
  &-data-block {
    border-radius: 5px;
    display: inline-flex;
    width: calc(100% - 22px);
    height: 60px;
    margin: 11px;
    background: var(--c-slate-900);
    align-items: center;
    justify-content: center;
    box-shadow: var(--r-t-box-shadow);
    -webkit-box-shadow: var(--r-t-box-shadow);
  }

  &-data-block {
    margin: 14px 0px 10px 9px;
    background: var(--c-grey-500);
    border-radius: 5px 5px 5px 5px;

    &-info {
      border: 7px solid var(--c-blue-deep);
    }

    &-msg {
      border: 7px solid var(--c-slate-300);
    }
  }

  @include progress-line-ui($progress-height: 5px, $void-background-color: var(--c-slate-900), $full-background-color: var(--c-cyan-400), $void-background-image-start: var(--c-slate-400), $void-background-image-end: var(--c-slate-300), $full-background-image-start: var(--c-blue-dark), $full-background-image-end: var(--c-blue-deep), $progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1));

  &-progress {
    position: fixed;
    z-index: 3;
    width: 100%;
  }
}

.shadow-block {
  -webkit-box-shadow:
    2px 2px 4px 0px #00000094,
    0px 0px 0px 1px #ffffff17;
  box-shadow:
    2px 2px 4px 0px rgba(0, 0, 0, 0.58),
    0px 0px 0px 1px rgba(255, 255, 255, 0.09);
}

@media (max-width: 60em) {
  .content,
  .content-nav-is-open {
    width: 100%;
  }
}

.transaction-icon {
  position: absolute;
  top: 0px;
  display: flex;
  width: 13px;
  height: 100%;
  padding: 3px;
  background: #4f586a;
  align-content: center;
  line-height: 6px;
}

.extension-item {
  &__shadow {
    -webkit-box-shadow:
      0px 1px 2px hsl(222deg 13.89% 14.12%),
      -1px -1px 0px hsl(222deg 3.81% 31.44%),
      inset -1px -1px 1px hsl(222deg 3.81% 31.44%),
      inset 1px 1px 1px hsl(222deg 13.89% 14.12%);
    box-shadow:
      0px 1px 2px hsl(222deg 13.89% 14.12%),
      -1px -1px 0px hsl(222deg 3.81% 31.44%),
      inset -1px -1px 1px hsl(222deg 3.81% 31.44%),
      inset 1px 1px 1px hsl(222deg 13.89% 14.12%);
    -moz-box-shadow:
      0px 1px 2px hsl(222deg 13.89% 14.12%),
      -1px -1px 0px hsl(222deg 3.81% 31.44%),
      inset -1px -1px 1px hsl(222deg 3.81% 31.44%),
      inset 1px 1px 1px hsl(222deg 13.89% 14.12%);
  }

  &__shadow-position {
    margin: 4px 4px;
    border-radius: 5px;
  }

  &__img {
    width: 44px;
    height: 44px;
  }

  &__img-border {
    position: relative;
    width: 70px;
    height: 40px;
    border: 7px solid;
    border-radius: 50%;
    -webkit-box-shadow:
      0px 1px 2px hsl(222deg 13.89% 14.12%),
      -1px -1px 0px hsl(222deg 3.81% 31.44%),
      inset -1px -1px 1px hsl(222deg 3.81% 31.44%),
      inset 1px 1px 1px hsl(222deg 13.89% 14.12%);
    box-shadow:
      0px 1px 2px hsl(222deg 13.89% 14.12%),
      -1px -1px 0px hsl(222deg 3.81% 31.44%),
      inset -1px -1px 1px hsl(222deg 3.81% 31.44%),
      inset 1px 1px 1px hsl(222deg 13.89% 14.12%);
    -moz-box-shadow:
      0px 1px 2px hsl(222deg 13.89% 14.12%),
      -1px -1px 0px hsl(222deg 3.81% 31.44%),
      inset -1px -1px 1px hsl(222deg 3.81% 31.44%),
      inset 1px 1px 1px hsl(222deg 13.89% 14.12%);
    border-color: #5f5f00;
  }

  &__data {
    border-radius: 6px;
    text-align: center;
  }

  &__data-block {
    width: 360px;
    font-size: 15px;
    margin-left: 5px;
  }

  &__type-transactions {
    position: relative;
    left: -4px;
    display: inline-block;
    height: 25px;
    padding: 4px;
    background-color: #4f586a;
  }
}

// #search-panel {
//   display: none;
// }

// #item-type:checked {
//   &~#user-panel {
//     display: none;
//   }

//   &~#search-panel {
//     display: block;
//   }
// }

.extension-responsive-table #user-panel {
  display: none;
}

.avatar-actor {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;

  &-persona_actor {
    position: relative;
    width: 100%;
    padding: 2px;
    float: right;
    overflow: hidden;
  }
}

.stats-chart {
  height: auto;
  padding: 0px 0px 39px 5px;
}

.selected-item-prices {
  height: 40%;
  overflow: scroll;
}

.chart {
  width: calc(100% - 10px);
  padding: 14px;
  color: black;
  height: 200px;
  -webkit-box-shadow: var(--m-b-shadow-inset);
  background-color: var(--c-grey-500);
}

.mini-chart {
  width: 90px;
  margin: 0 auto;
  padding: 0.2%;
  -webkit-box-shadow: var(--m-b-shadow-inset);
  background-color: var(--c-grey-500);
}

.settings-input-number {
  width: 60px;
  color: #3f3f3f;
  font-weight: 700;
  -webkit-box-shadow:
    inset 0 0 10px rgba(0, 0, 0, 0.5803921569),
    inset 0 1px 1px rgba(10, 11, 13, 0.8784313725),
    0px 1px rgba(255, 255, 255, 0.2196078431);
  box-shadow:
    inset 0 0 10px rgba(0, 0, 0, 0.5803921569),
    inset 0 1px 1px rgba(10, 11, 13, 0.8784313725),
    0px 1px rgba(255, 255, 255, 0.2196078431);
  background-color: #858585;
}

.user {
  &-input {
    width: 100%;
    height: 25px;
    font-size: 14px;
    border: none;
    text-align: center;
    font-weight: 700;
    -webkit-box-shadow:
      inset 0 0 10px rgba(0, 0, 0, 0.5803921569),
      inset 0 1px 1px rgba(10, 11, 13, 0.8784313725),
      0px 1px rgba(255, 255, 255, 0.2196078431);
    box-shadow:
      inset 0 0 10px rgba(0, 0, 0, 0.5803921569),
      inset 0 1px 1px rgba(10, 11, 13, 0.8784313725),
      0px 1px rgba(255, 255, 255, 0.2196078431);

    &-min-height {
      height: 25px;
    }

    &-max-height {
      height: 40px;
    }
  }
}

.user-stats {
  width: calc(100% / 3);
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.extension-pagination-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;

  & .page_number {
    padding: 6px;
    font-size: 15px;
    margin-left: 1%;
  }
}

.tags-row {
  margin: 2px 10px;
  @include user-teg-ui();
}

.tag-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* Делает квадрат кругом */
  margin: 2px 10px 2px 2px;
  vertical-align: middle;
  -webkit-box-shadow: 1px 1px 3px 0px rgb(2, 4, 4);
  box-shadow: 1px 1px 3px 0px rgb(2, 4, 4);
  -moz-box-shadow: 1px 1px 3px 0px rgb(2, 4, 4);
}

.select-color,
.select-img {
  width: 36px;
  height: 36px;
  padding: 0;
}

.select-color {
  background: rgba(66, 66, 66, 0.3098039216);
  border: 0;
  outline: 3px solid rgba(66, 66, 66, 0.3098039216);
  outline-offset: -5px;
}

.page-link {
  display: flex;
  margin: 5px;
  padding: 0.5rem 0;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:
    2px 2px 4px 0px rgba(0, 0, 0, 0.58),
    0px 0px 0px 1px rgba(255, 255, 255, 0.09);
  box-shadow:
    2px 2px 4px 0px rgba(0, 0, 0, 0.58),
    0px 0px 0px 1px rgba(255, 255, 255, 0.09);
  align-items: center;
  background-color: rgb(57.2216216216, 63.7405405405, 76.7783783784);
  transition: all 0.25s ease-in;
}

.select-clan {
  height: 43px;
  width: calc(100% - 23px);
  margin: 14px 10px;
  background-color: var(--c-grey-500);
  color: white;
  border: 7px solid var(--c-blue-deep);
  border-radius: 5px 5px 5px 5px;
}

.select-global-date {
  width: calc(100% - 272px);
  color: #3f3f3f;
  height: 36px;
  margin: 12px 4px;
}

.account-rows {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.left {
  float: left;
}

.right {
  float: right;
}

.select-clan-tag {
  padding: 20px 11px;
  display: flex;
  align-items: center;
}

.settings-name {
  margin: 0px;
  width: 70%;
  display: flex;
}

.hidden {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}
