@use "./../../elementsStyling/shapes" as *;
@use "./../../elementsStyling/views-elements/show-hidden-button.scss" as *;
@use "./../../elementsStyling/tegify" as *;
@use "./../../animation/user-tags-ui" as *;
@use "./../../charts/charts" as *;
@use "./../../elementsStyling/views-elements/responsive-table" as *;
@use "./../../elementsStyling/views-elements/page-ui" as *;
@use "./../../animation/progress-line.scss" as *;
@use "./../../elementsStyling/views-elements/description-settings.scss" as *;
@use "./../../elementsStyling/views-elements/radio-ui" as *;
@use "./../../elementsStyling/swg-icons" as *;
@use "./../../elementsStyling/views-elements/input-values" as *;
@use "./../../elementsStyling/views-elements/switched-button" as *;
@use "./../../elementsStyling/tegify" as *;

::placeholder {
  color: #3f3f3f;
  /* Red color using HEX value, any valid color value works */
  opacity: 1;
  /* Fixes a default lower opacity issue in Firefox */
}

:root {
  /* --- 1. ПАЛИТРА (Базовые цвета) --- clr(color)*/

  /* Slate/Blue (Ваши темные и текстовые оттенки) */
  --c-slate-900: #2c3139; /* shadow-dark */
  --c-slate-800: #303641; /* green */

  --c-slate-500: #353c48; /* green-dark */
  --c-slate-400: #414856; /* green-light */
  --c-slate-300: #4f586a; /* shadow-light */

  /* Cyan/Blue (Ваши акцентные цвета) */
  --c-cyan-400: rgb(48, 180, 228);

  --c-blue-dark: rgb(12, 127, 168); /* был yellow */
  --c-blue-deep: rgb(12, 90, 118); /* был yellow-dark */

  /* Grayscale */
  --c-white: #ffffff;
  --c-grey-100: #cecece;
  --c-grey-500: #858585;
  --c-grey-900: #585858;
}

:root {
  /* Внешние/Выпуклые эффекты */
  --shadow-raised: 5px 5px 10px #242931, -4px -4px 8px #3c4351, inset 1px 1px 1px rgba(255, 255, 255, 0.1);
  --shadow-outline: 2px 2px 4px 0px rgba(0, 0, 0, 0.58), 0px 0px 0px 1px rgba(255, 255, 255, 0.09);
  --sh-convex-outline: 1px 1px 3px 1px rgba(0, 0, 0, 0.58), 0px 0px 0px 1px rgba(255, 255, 255, 0.09);
  --shadow-flat: 1px 1px 3px 0px rgb(2, 4, 4);

  /* Внутренние/Вдавленные эффекты */
  --shadow-inner-soft: inset 0 0 6px rgba(0, 0, 0, 0.3);
  --shadow-inner-deep: inset 0 0 10px #00000094, inset 0 1px 1px #0a0b0de0, 0px 1px #ffffff38;
  --shadow-inner-heavy: inset 1px 1px 1px 1px #000000ba, inset -5px -5px 17px #f9f9f908;
  --sh-inset-rim-light: inset 0 0 10px rgba(0, 0, 0, 0.5803921569), inset 0 1px 1px rgba(10, 11, 13, 0.8784313725), 0px 1px rgba(255, 255, 255, 0.2196078431);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--c-slate-800);

  &-track {
    box-shadow: var(--shadow-inner-soft);
    background-color: #ffffff2a;
  }

  &-thumb {
    background-color: var(--c-slate-500);
  }
}

body {
  --r-t-col-width-min: 9%;
  --r-t-col-width-max: 24%;
}

body,
html {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: var(--c-grey-100);
  background: var(--c-slate-400);
}

a {
  color: #fff;
  text-decoration: none;
}

$config: (
  "bg": #efefef,
  "bg-active": #2d86a7,
  "text": #292929,
  "text-active": #efefef,
  "radius": 0.25em
);

@include radio-ui($config);
@include page-ui($nav-bar-width: 250px, $c-heder: var(--c-slate-800), $c-bar-dark: #2c3139, $c-bar: #2c3139, $c-bar-light: #4f586a, $c-color: var(--c-white), $c-hover: var(--c-cyan-400), $n-box-shadow: var(--shadow-raised));

// @include page-ui($nav-bar-width: 250px, $c-heder: var(--c-slate-800), $c-bar-dark: #2c3139, $c-bar: #2c3139, $c-bar-light: #4f586a, $c-color: var(--c-white), $c-hover: var(--c-cyan-400), $n-box-shadow: var(--shadow-raised));

.content ul,
.content li {
  overflow: visible;
}

@include input-values(var(--c-blue-dark), var(--c-slate-500));

@include switched-button($c-text: var(--c-slate-500), $c-switched-btn: var(--c-slate-400), $c-switched-bg: var(--c-blue-dark));

#control-panel {
  display: none;
}

#filter-pages:checked {
  & ~ #filter-list {
    display: none;
  }

  & ~ #control-panel {
    display: block;
  }
}

.clanList {
  width: calc(100% - 110px);
  @include tegify-ui();
}

.point-container {
  position: relative;
  margin: 2px;
  border-radius: 10px;
  overflow: auto;
}

.ext {
  @include description-settings();
  @include responsive-table((radial-gradient(circle at 30% 30%, rgb(156 45 91 / 11%) 0%, rgb(48 180 228 / 2%) 50%), linear-gradient(244deg, #373e4b 0%, #303641 50%, rgb(49 65 80) 100%)), var(--c-cyan-400), var(--shadow-raised), var(--r-t-col-width-min), var(--r-t-col-width-max));
  &-responsive-table #user-panel {
    display: none;
  }
  &-pagination-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;

    & .page_number {
      padding: 6px;
      font-size: 15px;
      margin-left: 1%;
    }
  }
}
.extension {
  &-settings {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    box-shadow: var(--shadow-raised);
    @include button-shadow-inset(var(--shadow-inner-deep), var(--c-slate-500));
  }

  &-search {
    width: calc(100% - 23px);
    margin: 15px 10px 20px;
    padding: 15px 10px 10px 40px;
    color: var(--c-white);
    background: var(--c-grey-500);
    border: none;
    border-radius: 3px;
    transition: all 1s;
    outline: none;
    box-shadow: var(--shadow-inner-deep);

    &:focus {
      background: var(--c-grey-900);
      transition: all 1s;
    }

    &::placeholder {
      color: var(--c-grey-100);
      opacity: 1;
    }

    &-btn {
      position: absolute;
      width: 34px;
      height: 36px;
      margin: 17px 12px 7px;
      padding: 0px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      background-color: var(--c-slate-800);
      box-shadow: var(--sh-convex-outline);
      &:hover {
        background: var(--c-slate-500);
        transition: all 1s;
        box-shadow: var(--shadow-inner-heavy);
      }

      &-icon {
        position: relative;
        left: 5px;
        display: block;
        width: 23px;
        height: 23px;
      }
    }
  }

  &-pagination,
  &-data-block {
    border-radius: 5px;
    display: inline-flex;
    width: calc(100% - 22px);
    min-height: 60px;
    margin: 11px;
    background: var(--c-slate-900);
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-raised);
  }

  &-data-block {
    margin: 14px 0px 10px 9px;
    background: var(--c-grey-500);
    border-radius: 5px 5px 5px 5px;

    &-info {
      border: 7px solid var(--c-blue-deep);
    }

    &-msg {
      border: 7px solid var(--c-slate-300);
    }
  }

  @include progress-line-ui($progress-height: 5px, $void-background-color: var(--c-slate-900), $full-background-color: var(--c-cyan-400), $void-background-image-start: var(--c-slate-400), $void-background-image-end: var(--c-slate-300), $full-background-image-start: var(--c-blue-dark), $full-background-image-end: var(--c-blue-deep), $progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1));

  &-progress {
    position: fixed;
    z-index: 3;
    width: 100%;
  }
}

.shadow-block {
  box-shadow: var(--shadow-outline);
}

@media (max-width: 60em) {
  .content,
  .content-nav-is-open {
    width: 100%;
  }
}

.selected-user {
  height: 40%;
  overflow: scroll;
}

.settings-input-number {
  width: 60px;
  color: #3f3f3f;
  font-weight: 700;
  box-shadow: var(--sh-inset-rim-light);
  background-color: #858585;
}

.user {
  &-input {
    width: 100%;
    height: 25px;
    font-size: 14px;
    border: none;
    text-align: center;
    font-weight: 700;
    box-shadow: var(--sh-inset-rim-light);

    &-min-height {
      height: 25px;
    }

    &-max-height {
      height: 40px;
    }
  }
  &-stats {
    width: calc(100% / 3);
    font-size: 13px;
    font-weight: 600;
    text-align: center;
  }

  &-tags {
    width: calc(100% - 81px);
    height: auto;
    margin: 9px;
  }
}
.tag {
  &-row {
    margin: 2px 10px;
    @include user-teg-ui();
  }

  &-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* Делает квадрат кругом */
    margin: 2px 10px 2px 2px;
    vertical-align: middle;
    box-shadow: var(--shadow-flat);
  }
}
.select {
  &-color,
  &-img {
    width: 36px;
    height: 36px;
    padding: 0;
  }

  &-color {
    background: rgba(66, 66, 66, 0.3098039216);
    border: 0;
    outline: 3px solid rgba(66, 66, 66, 0.3098039216);
    outline-offset: -5px;
  }

  &-clan {
    height: 43px;
    width: calc(100% - 23px);
    margin: 14px 10px;
    background-color: var(--c-grey-500);
    color: white;
    border: 7px solid var(--c-blue-deep);
    border-radius: 5px 5px 5px 5px;
    &-tag {
      padding: 20px 11px;
      display: flex;
      align-items: center;
    }
  }
  &-global-date {
    width: calc(100% - 272px);
    color: #3f3f3f;
    height: 36px;
    margin: 12px 4px;
  }
}

.page-link {
  display: flex;
  margin: 5px;
  padding: 0.5rem 0;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  box-shadow: var(--shadow-outline);
  align-items: center;
  background-color: rgb(57.2216216216, 63.7405405405, 76.7783783784);
  transition: all 0.25s ease-in;
}

.account-rows {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.left {
  float: left;
}

.right {
  float: right;
}

.settings-name {
  margin: 0px;
  width: 70%;
  display: flex;
}

.hidden {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}
