@mixin description-settings() {
	/* End basic CSS override */

	&-section {
		margin: 50px 2px 4px 5px;
	}

	&-feature {
		position: relative;
		& + & {
			margin-top: 16px;
		}
		summary {
			display: inline-flex;
			align-items: center;
			list-style: none; // Remove arrow
			&::-webkit-details-marker {
				display: none; // Remove arrow
			}
		}

		&[open] summary:after {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 50;
			display: block;
			content: "";
		}

		&[open] {
			div {
				animation: scale 0.15s ease;
			}
		}
		.name {
			font-size: 20px;
			font-weight: 900;
		}

		.check-mark {
			display: flex;
			width: 42px;
			height: 46px;
			margin: 10px;
			align-items: center;
			justify-content: center;
		}

		.question-icon {
			display: flex;
			width: 25px;
			height: 25px;
			align-items: center;
			margin-left: 6px;
			cursor: pointer;
		}

		.answer {
			position: absolute;
			top: 15px;
			left: 50%;
			z-index: 100;
			width: 80%;
			padding: 12px;
			border: 1px solid var(--c-blue-300);
			border-radius: 6px;
			background-color: var(--c-blue-800);
			transform: translatey(-100%) translatex(-50%);
			transform-origin: bottom center;
			box-shadow: 0 15px 30px 0 rgba(#000, 0.1);
		}
	}

	@keyframes scale {
		0% {
			transform: translatey(-100%) translatex(-50%) scale(0);
		}
		100% {
			transform: translatey(-100%) translatex(-50%) scale(1);
		}
	}
}
