@mixin menu-ui($navbar-min-height: 56px,
  $navbar-min-width: 60px,
  $navbar-background-color: #2e2f33,
  $navbar-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
  $navbar-color-bar: #22a86d,
  $navbar-border: 0.5px solid #242528,
  $navbar-color: #bdbdbe,
  $navbar-text-shadow: 0px 0.3px 1px #000000) {
  &-menu {
    float: right;
    position: absolute;
    z-index: 2;

    &-arrow {
      width: 0;
      height: 0;
      margin-left: 566px;
      margin-top: 10px;
      /*       border-left: 7px solid transparent;
      border-right: 7px solid transparent; */
      border-bottom: 9px solid $navbar-background-color;
    }

    & a {
      color: $navbar-color;
      font-weight: bold;
      font-family: sans-serif;
      display: block;
      width: 217px;
      height: 41px;
      padding: 5px 0 5px 20px;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 40px;
      background-color: $navbar-background-color;
      height: 40px;
      box-shadow: $navbar-box-shadow;
      text-shadow: $navbar-text-shadow;
      border-bottom: $navbar-border;
      margin-left: 363px;

      &:hover {
        background-color: $navbar-color-bar;
        color: $navbar-background-color;
        text-shadow: none;
      }
    }
  }

  &-nav-icon {
    caret-color: transparent;
    display: inline-block;
    top: 0px;
    position: relative;

    &_min {
      background-size: 25px 25px;
      padding: 12px 12px;
    }

    &_menu {
      margin-right: 2px;
    }
  }
}