@use "sass:map";
@mixin nav-icon($options: ()) {
  // Конфигурация по умолчанию через map.merge
  $conf: map.merge(
    (
      "bg": var(--c-slate-900),
      "shadow": 0 1px 1px var(--c-slate-300),
      "accent": var(--c-blue-dark),
      "border": 0.5px solid var(--c-slate-300),
      "color": var(--c-blue-dark),
      "t-shadow": 0px 0.3px 1px var(--c-slate-500)
    ),
    $options
  );

  &-nav-icon {
    display: inline-block;
    position: relative;
    caret-color: transparent;

    &_min {
      padding: 12px;
      background-size: 25px;
    }

    &_menu {
      margin: 0 6px;
    }
  }
}
