@use "sass:color";
@use "sass:list"; // 1. Добавляем импорт
@use "sass:map";

@mixin button-shadow-inset($menu-inset, $c-bar-dark) {
  &::before {
    content: "";
    inset: 0;
    position: absolute;
    transition: 0.5s cubic-bezier(0.81, 1.21, 0.45, 0.8);
    z-index: -1;
    border-radius: 5px;
  }

  &:hover::before {
    box-shadow: $menu-inset;
    background: $c-bar-dark;
  }
}

@mixin page-ui($nav-bar-width: 250px, $c-heder, $c-bar-dark, $c-bar, $c-bar-light, $c-color, $c-hover, $n-box-shadow) {
  // @mixin nav-icon($options: ())
  //  $conf: map.merge(
  //   (
  //     "bg": #333,
  //     "color": gold,
  //     "size": 25px
  //   ),
  //   $options
  // );
  // prettier-ignore
  // $conf: map.merge(
  //   (
  //     "c-text": $c-color,
  //     "text-min": 13px,
  //     "text-max": 15px,
  //     "sidebar-size": 420px,
  //     // prettier-ignore
  //     "menu-shadow": (2px 2px 4px 0px rgba(0, 0, 0, 0.58), 0px 0px 0px 1px rgb(255 255 255 / 9%)),
  //     "menu-inset": (inset 2px 2px 4px 0px rgba(0, 0, 0, 0.58), 0px 0px 0px 1px rgb(255 255 255 / 9%)),
  //     "max-width": 60em,
  //     "open-shadow": rgba(0, 0, 0, 0.5),

  //   ),
  //   $options
  // );

  // prettier-ignore
  $menu-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.58), 0px 0px 0px 1px rgb(255 255 255 / 9%);
  // prettier-ignore
  $menu-inset: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.58), 0px 0px 0px 1px rgb(255 255 255 / 9%);

  ul,
  li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    color: #fff;
  }

  a {
    text-decoration: none;
  }

  /**
 * Hidden fallback
 */
  [hidden] {
    display: none;
    visibility: hidden;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .content {
    margin-top: 16px;
    width: 100%;
    position: relative;
    float: right;

    &.content-nav-is-open {
      width: calc(100% - 420px);
    }

    @media (max-width: 60em) {
      position: absolute;
      width: 100%;

      &.content-nav-is-open {
        width: 100%;
      }
    }
  }

  /*-------*/
  .menu {
    &-button {
      position: absolute;
      top: 13px;
      left: 9px;
      width: 36px;
      height: 36px;
      margin: 0;
      border-radius: 5px;
      box-shadow: $menu-shadow;
      cursor: pointer;
      display: block;
      z-index: 3;
      position: fixed;

      &:after {
        opacity: 0;
        top: 80px;
        content: "";
        width: 100vw;
        display: block;
        position: fixed;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
        transition-delay: 0.1s;
      }

      @include button-shadow-inset($menu-inset, $c-bar-dark);
    }

    &-header {
      display: flex;
      height: 71px;

      &-block {
        position: fixed;
        background: var(--c-green-dark);
        height: 72px;
        z-index: 3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 60em) {
          margin-right: 3%;
          justify-content: flex-end;
        }

        &-link {
          height: 43px;
          margin: 4px;
          width: 43px;
          list-style-type: none;
          background-size: 44px;
          position: relative;
          text-decoration: none;
          box-shadow: $menu-shadow;
          border-radius: 5px;
          transition: 1s;
          @include button-shadow-inset($menu-inset, $c-bar-dark);
        }
      }
    }

    &-sidebar {
      box-shadow: $n-box-shadow;
      display: block;
      width: 400px;
      top: 136px;
      left: 8px;
      border-radius: 5px;
      bottom: 8px;
      background: $c-bar-light;
      color: $c-color;
      position: fixed;
      transform: translateX(0px);
      transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
      z-index: 2;
      list-style-type: none;
      padding: 0;
      @media (max-width: 60em) {
        width: 100%;
      }
    }
  }

  .filter-nav-btn {
    height: 21px;
    width: 21px;
    top: 7px;
    left: 7px;
    position: absolute;

    &-open {
      display: none;
      padding: 15px;
      @media (max-width: 60em) {
        display: block;
      }
    }

    &-close {
      display: block;
      @media (max-width: 60em) {
        display: none;
        padding: 15px;
      }
    }
  }

  #menu-toggle {
    display: none;
    // Когда чекбокс активен или нажат
    &.active,
    &:checked {
      // 1. Управляем иконками в label, который идет сразу после чекбокса
      & ~ .menu-button {
        .filter-nav-btn-close {
          display: none;
        }
        .filter-nav-btn-open {
          display: block;
        }

        @media (max-width: 60em) {
          .filter-nav-btn-close {
            display: block;
          }
          .filter-nav-btn-open {
            display: none;
          }
        }
      }

      // 2. Управляем появлением оверлея (если он есть в разметке или через псевдоэлемент)
      // Внимание: :after сработает только если вы добавите его к кнопке или меню
      & ~ .sidebar,
      & ~ .menu-sidebar {
        width: 100%;
        transform: translateX(-101vw);
        transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
        overflow: scroll;
      }
    }
  }

  .sidebar {
    width: 100%;
    position: fixed;
    display: inline-block;
    z-index: 3;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &-block {
      background: var(--c-green-light);
      padding: 5px 5px;
      margin-top: 5px;
      width: 400px;
      @media (max-width: 60em) {
        width: 100%;
      }
    }
  }

  .nav {
    &-block {
      position: unset;
      display: block;
      height: 45px;
    }

    &-icon {
      display: inline-block;
      position: relative;
      caret-color: transparent;

      &_min {
        padding: 12px;
        background-size: 25px;
      }

      &_menu {
        margin: 0 6px;
      }
    }
  }

  /** */

  // 1. Общие стили для всех интерактивных элементов навигации
  .nav,
  .group-list,
  .sub-group-list,
  .sub-sub-group-list {
    a,
    label {
      margin: 9px;
      padding: 0.5rem 0.2em;
      display: flex;
      align-items: center;
      border-radius: 5px;
      color: #fff;
      box-shadow: $menu-shadow;
      transition: all 0.25s ease-in;
      cursor: pointer; // Сразу для всех, a по умолчанию такой

      &:focus,
      &:hover {
        box-shadow: $menu-inset;
      }
    }
  }

  // 2. Уровни вложенности: (селектор, базовый_цвет, яркость, яркость_hover)
  // prettier-ignore
  $nav-levels: (
  ".nav":            ($c-bar-light, -10%, -7%),
  ".group-list":     ($c-bar-light, -7%, -14%),
  ".sub-group-list": ($c-bar-light, -14%, -21%),
  ".sub-sub-group-list": ($c-bar-dark, -21%, -32%) // Здесь dark как в оригинале
);

  @each $selector, $params in $nav-levels {
    $base-color: list.nth($params, 1); // 2. Используем list.nth

    #{$selector} {
      a,
      label {
        background-color: color.adjust($base-color, $lightness: list.nth($params, 2));

        &:focus,
        &:hover {
          background-color: color.adjust($base-color, $lightness: list.nth($params, 3));
        }
      }
    }
  }

  /**
 * Hide nested lists
 */
  .group-list,
  .sub-group-list,
  .sub-sub-group-list {
    /* height: 100%; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .nav__list {
    input[type="checkbox"] {
      display: none;

      &:checked {
        & + label + ul {
          max-height: 1000px;
        }
        & + label > span {
          transform: rotate(90deg);
        }
      }
    }

    label > span {
      float: right;
      transition: transform 0.65s ease;
    }
  }
}
