@use "sass:map";

@mixin radio-ui($config) {
  // Вытягиваем значения один раз
  $bg: map.get($config, "bg");
  $active-bg: map.get($config, "bg-active");
  $text: map.get($config, "text");
  $active-text: map.get($config, "text-active");

  .button-wrap {
    display: flex;
    width: 100%;
    gap: 4px; // Расстояние между кнопками
    padding: 5px;
  }

  .button-label {
    flex: 1; // Все кнопки будут строго одинаковой ширины
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 0.2em;
    cursor: pointer;
    font-size: 13px;
    border-radius: map.get($config, "radius");
    user-select: none;
    transition: all 0.2s ease;

    // Базовое состояние
    background: $bg;
    color: $text;
    box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.16),
      inset 0 -3px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      filter: brightness(0.95);
      box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.2),
        inset 0 -3px 0 rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: translateY(2px);
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    }
  }

  // Скрываем радио и красим активный label
  .radio-label {
    display: none; // Скрываем инпуты с классом .hidden и .radio-label

    &:checked + .button-label {
      background: $active-bg;
      color: $active-text;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); // Эффект нажатой кнопки

      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}
