@use "sass:color";

@mixin radio-ui($color: #efefef, $activeColor: #2d86a7, $text: #292929, $activeText: #efefef) {
  .button-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    top: 50%;
  }

  .button-label {
    display: flex;
    justify-content: center;
    padding: 0.4em;
    margin: 0.05em;
    width: calc(100% / 3);
    cursor: pointer;
    color: $text;
    border-radius: 0.25em;
    background: $color;
    box-shadow:
      0 3px 10px rgba(0, 0, 0, 0.2),
      inset 0 -3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
    user-select: none;

    &:hover {
      background: color.adjust($color, $lightness: -10%);
      color: color.adjust($text, $lightness: -10%);
      box-shadow:
        0 3px 10px rgba(0, 0, 0, 0.2),
        inset 0 -3px 0 rgba(0, 0, 0, 0.32);
    }

    &:active {
      transform: translateY(2px);
      box-shadow:
        0 3px 10px rgba(0, 0, 0, 0.2),
        inset 0px -1px 0 rgba(0, 0, 0, 0.22);
    }
  }

  .radio-label:checked+.button-label {
    background: $activeColor;
    color: $activeText;

    &:hover {
      background: color.adjust($activeColor, $lightness: -5%);
      color: color.adjust($activeText, $lightness: -5%);
    }
  }

  .hidden {
    display: none;
  }
}