@mixin responsive-table($c-background, $c-yellow-light, $r-t-box-shadow, $r-t-col-width-min, $r-t-col-width-max) {
  &-item {
    &__shadow {
      box-shadow:
        0px 1px 2px hsl(222deg 13.89% 14.12%),
        -1px -1px 0px hsl(222deg 3.81% 31.44%),
        inset -1px -1px 1px hsl(222deg 3.81% 31.44%),
        inset 1px 1px 1px hsl(222deg 13.89% 14.12%);
      &-position {
        margin: 4px 4px;
        border-radius: 5px;
      }
    }

    &__img {
      width: 44px;
      height: 44px;
      -webkit-box-shadow: var(--shadow-outline);
      box-shadow: var(--shadow-outline);

      &-border {
        position: relative;
        width: 70px;
        height: 40px;
        border: 7px solid;
        border-radius: 50%;
        box-shadow:
          0px 1px 2px hsl(222deg 13.89% 14.12%),
          -1px -1px 0px hsl(222deg 3.81% 31.44%),
          inset -1px -1px 1px hsl(222deg 3.81% 31.44%),
          inset 1px 1px 1px hsl(222deg 13.89% 14.12%);
      }
    }

    &__data {
      display: flex;
      height: auto;
      margin: 0 5px 0 0;
      padding: 0 4px;
      border-radius: 6px;
      text-align: center;
      align-items: center;
      justify-content: center;
      min-height: 42px;

      &-tags {
        margin: 0px;
        width: 100%;
      }
      &-block {
        width: 360px;
        font-size: 15px;
        margin-left: 5px;
      }
    }
  }

  &-responsive-table {
    z-index: 1;
    padding: 5px;

    &_settings {
      margin: 11px 0px;
    }

    &-li,
    &-li-item {
      overflow: visible;
      display: flex;
      align-items: center;
      justify-content: space-between;
      container-type: inline-size;
      padding: 10px 0px;
    }

    &__header {
      margin-top: 10px;
      border-radius: 5px;
      font-size: 14px;
      color: $c-yellow-light;
      box-shadow: $r-t-box-shadow;
      @media (max-width: 60em) {
        display: none !important;
      }
    }

    &__row,
    &__sidebar-row {
      position: relative;
      background: $c-background;
      box-shadow: $r-t-box-shadow;
    }

    &__logo {
      display: flex;
      margin: 0px 10px 0 0;
      justify-content: flex-start;
    }

    &__badge {
      height: 35px;
      position: absolute;
      top: -29px;
      left: 4px;
      display: flex;
      width: 100px;
      padding: 0px 5px;
      color: var(--c-grey-100);
      justify-content: flex-end;
      background-size: 32px 32px;
      background-position: 3px 1px;
      background-color: #2c4c817d;
      align-self: flex-start;
      /* Прижать к верху */
      margin-right: auto;
      /* Вытолкнуть всё вправо */
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-1px 0px 1px rgba(102, 102, 102, 0.5));
    }

    &__col {
      font-size: 13px;
      font-weight: 600;
      display: flex;
      min-height: 42px;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      &.market_name {
        margin: 0 0.3%;
        padding: 4px;
        font-size: 14px;
        color: #3f3f3f;
        word-break: break-all;
        cursor: pointer;
        position: relative;
        box-shadow: var(--shadow-inner-deep);
        background-color: var(--c-grey-500);
      }

      &_hidden-block {
        display: none;
      }

      @container (min-width: 700px) {
        &_hidden-block {
          display: flex;
        }
      }

      &_width-min {
        flex: 1;
      }

      &_width-max {
        flex: 2;
      }
    }
  }

  @media all and (max-width: 60em) {
    body {
      margin: 0;
    }

    &-container {
      margin: 1px;
      padding: 1px;
    }

    &-responsive-table {
      &__header &__col {
        display: none;
      }

      &__logo {
        justify-content: center;

        &:before {
          padding: 10px;
          justify-content: center;
          flex-basis: 0;
        }
      }

      &__col {
        width: 96%;
        margin: 7px auto;
        padding: 10px 0;
        flex-basis: 100%;

        &:before {
          color: $c-yellow-light;
          padding-right: 10px;
          content: attr(data-label);
          align-items: center;
          text-align: right;
        }
      }

      &__badge {
        top: 3px;
      }

      &__row {
        display: flex;
        flex-direction: column;
      }

      &-li {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
