@mixin switched-button($c-text, $c-switched-btn, $c-switched-bg) {
  &-container {
    position: relative;
    padding: 4px;
    border-radius: 10px;
    color: $c-text;
    background-color: $c-switched-bg;
    flex-shrink: 0;
    background: linear-gradient(145deg, #22657d, #2389AE);
    box-shadow:
      inset 8.71px 8.71px 12px #26596c,
      inset -8.71px -8.71px 12px #247a99;
  }

  &-label {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      display: inline-block;
      width: calc(50% - 2px);
      height: calc(100% - 23%);
      border-radius: 4px;
      background-color: $c-switched-btn;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      transition: left 0.3s ease;
      background: #247a99;
      -webkit-box-shadow:
        1px 1px 4px #0000009c,
        1px 1px 6px #6a6a6a85;
      box-shadow:
        1px 1px 4px #0000009c,
        1px 1px 6px #6a6a6a85;
    }
  }

  //each checkbox needs its own label class
  &-checkboxInput {
    z-index: 2;
    opacity: 0;
    position: absolute;

    //applied to adjacent checkbox
    &:checked+.switchedBlock-label:before,
    &:checked+*>.switchedBlock-label:before,
    &:checked+* #item-type-label:before {
      left: 50%;
    }
  }

  &-type {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    text-align: center;
    z-index: 1;
    flex-shrink: 0;
    line-height: 16px;
  }

  &-inputText {
    font-size: 14px;
    opacity: 1;
    transform: translateX(0);
    transition: 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}