/* иконки */
.swg-delete {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/delete_forever_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-edit {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/edit_note_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-save {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/save_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-problem {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/report_problem_white_48dp.svg");
  background-repeat: no-repeat;
}

.swg-home {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/home_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-bookmark {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/bookmark_border_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-bookmark-add {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/bookmark_add_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-bookmark-remove {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/bookmark_remove_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-bookmark-added {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/bookmark_added_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-timeline {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/view_timeline_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-tags {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/tags-color.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.swg-question {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/question-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.swg-menu {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/menu_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-close {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/close_white_24dp.svg");
  background-repeat: no-repeat;
}

.swg-search {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/svg/icons/search_white_24dp.svg");
  background-repeat: no-repeat;
}

.logo-extension-icon {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/128x128.png");
}
